<header>
   <section id="start">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div ng-show="exitNotification">
                        <div class="container">
                            <div class="alert alert-success" role="alert">
                                <h4>You have been logged out successfully.</h4>
                                <button class="btn btn-default" ng-click="exitNotification=false">Ok</button>
                            </div>
                        </div>
                    </div>
                    <img class="img-responsive" src="res/profile.png" alt="" />
                    <div class="intro-text">
                        <span class="name">PartyShark</span>
                        <hr class="star-light" />
                        <div class="col-lg-8 col-lg-offset-2 text-center">
                            <a href="#start-party" class="btn btn-lg btn-outline">
                                <i class="fa fa-bomb"></i> Start A Party
                            </a>
                            <a href="#join-party" class="btn btn-lg btn-outline">
                                <i class="fa fa-group"></i> Join A Party
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</header>

    <section id="instructions">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>How It Works</h2>
                    <hr class="star-primary"></hr>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>Create a party by selecting the start party button above. You will be asked to select party options and will be made an administrator to your party. <br> You may also join an existing party by selecting the join party button above and inputting the required party code. <br> For best results, create a party on the device you intent to play music from. You may change the player device once the party is created.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light"></hr>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>PartyShark was created as an undergraduate design project to solve a problem all of our team has experienced. When in a social setting, we often find ourselves wishing we had a collaborative music playlist sharing service powered from the cloud, easily accessable to multiple devices. This application was developed and launched strictly for educational purposes and will not be used commercially in any way. We require you to abide by our terms of use page, which will be found here: <a href="https://www.partyshark.tk/termsofuse.html">Terms of Use</a>. Thank you!</p>
                </div>
            </div>
        </div>
    </section>

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Contact Us</h2>
                    <hr class="star-primary"></hr>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <form name="sentMessage" id="contactForm" novalidate ng-submit="sendContact();">
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Name</label>
                                <input type="text" class="form-control" placeholder="Name" id="name" required data-validation-required-message="Please enter your name." ng-model="contactName">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Email Address</label>
                                <input type="email" class="form-control" placeholder="Email Address" id="email" required data-validation-required-message="Please enter your email address." ng-model="contactEmail">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Phone Number</label>
                                <input type="tel" class="form-control" placeholder="Phone Number" id="phone" required data-validation-required-message="Please enter your phone number." ng-model="contactPhone">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Message</label>
                                <textarea rows="5" class="form-control" placeholder="Message" id="message" required data-validation-required-message="Please enter a message." ng-model="contactMessage"></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <br>
                        <div id="success"></div>
                        <div class="row">
                            <div class="form-group col-xs-12">
                                <button type="submit" class="btn btn-success btn-lg">Send</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">
                        <h3>Powered by</h3>
                        <center><img class="img-responsive" src="res/Deezer.png" alt="" height="100" width = "200"></center>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Around the Web</h3>
                        <ul class="list-inline">
                            <li>
                                <a href="https://www.facebook.com/thepartysharkapp/" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>About PartyShark</h3>
                        <p>PartyShark is a collaborative playlist app made by Casey Doyle, Ri Zhao, Nick Reid, Ryan Toth, and Riley Bloomfield for SE4450</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>