<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Options</h2>
                <hr class="star-primary"></hr>
                <p>Please select the desired options for your party</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <form>
                  <div class="form-group">
                    <label for="numParticipants">Maximum Number of Participants:</label>
                    <input ng-model="tempModel.user_cap" type="number" class="form-control" id="numParticipants" placeholder="Participants" min="1" ng-disabled="!user.is_admin"/>
                  </div>

                  <div class="form-group">
                    <label for="maxQueue">Maximum Size of the Dock:</label>
                    <input ng-model="tempModel.playlist_cap" type="number" class="form-control" id="maxQueue" placeholder="Dock" min="1" ng-disabled="!user.is_admin"/>
                  </div>

                  <div class="form-group">
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" ng-model="tempModel.virtual_dj" ng-disabled="!user.is_admin"> <b>Virtual DJ</b> - Plays airhorn between song changes
                        </label>
                      </div>
                  </div>

                  <div class="form-group">
                    <label for="genreSelect">Default Radio Genre on Empty Playlist:</label>
                    <select id="genreSelect" class="form-control" ng-disabled="!user.is_admin" ng-model="tempModel.default_genre"  ng-options="enum as name for (name, enum) in genres"></select>
                  </div>


                    <div class="form-group">
                        <label>
                            <b>Promote to Admin</b> - Enter the provided code to be promoted to admin
                        </label>
                        <div class="input-group" style="width: 50%;">

                            <input class="form-control" type="text" ng-model="tempModel.admin_code" ng-disabled="user.is_admin" placeholder="Admin Code"/>
                            <span class="input-group-btn">
                                <button class="btn btn-primary" ng-click="promoteUser();" ng-disabled="user.is_admin">Promote</button>
                            </span>
                        </div>
                    </div>

                  <button ng-shpw="user.is_admin" class="btn btn-primary" type="button" ng-click="update();">Update Options</button>
                  <button ng_hide="user.isPlayer()" class="btn btn-primary" type="button" ng-click="requestPlayer();">Request to be the Player</button>
                </form>
            </div>
        </div>
    </div>
</section>