<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Options</h2>
                <hr class="star-primary"></hr>
                <p>Please select the desired options for your party</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <form>
                  <div class="form-group">
                    <label for="numParticipants">Maximum Number of Participants: {{currMaxParticipants}}</label>
                    <input ng-show="isAdmin" ng-model="numParticipants" type="number" class="form-control" id="numParticipants" placeholder="{{currMaxParticipants}}" min="0">
                  </div>
                  <div class="form-group">
                    <label for="maxQueue">Maximum Size of the Song Queue: {{currMaxQueue}}</label>
                    <input ng-show="isAdmin" ng-model="maxQueue" type="number" class="form-control" id="maxQueue" placeholder="{{currMaxQueue}}" min="0">
                  </div>
                  <div class="form-group">
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" id="virtualDJ"> <b>Virtual DJ</b> - Plays airhorn between song changes
                        </label>
                      </div>
                  </div>
                  <div class="form-group">
                    <label for="genreSelect">Default Radio Genre on Empty Playlist: {{genreValueLabel}}</label>
                    <select ng-show="isAdmin" id="genreSelect"class="form-control" ng-model="genreValue" ng-init="genreValue = genres[0]" ng-options="genre as genre.label for genre in genres"></select>
                  </div>

                  <div ng-show="showAdminControl">
                    <button class="btn btn-primary" type="button" ng-click="update();">Update</button>
                    <h6>Admin Code: {{adminCode}}</h6>
                  </div>

                  <div class="form-group">
                    <label>
                      <b>Promote to Admin</b> - Enter the provided code to be promoted to admin
                    </label>
                  <div class="input-group" ng-hide="showAdminControl" style="width: 50%;">
                    
                    <input class="form-control" type="text" ng-model="adminCode" placeholder="Admin Code">
                    <span class="input-group-btn">
                      <button class="btn btn-primary" ng-click="promoteUser();">Promote</button>
                    </span>
                  </div>
                </div>

                  <button class="btn btn-primary" type="button" ng-click="requestPlayer();">Request to be the Player</button>
                </form>
            </div>
        </div>
    </div>
</section>