<body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#page-top">PartyShark</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#nowplaying">Now Playing</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#search">Search</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#codes">Access Codes</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#options">Options</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <section id="nowplaying">
    <!-- Header -->
        <header>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="intro-text">
                            <span class="name">Song Title - Artist</span>
                            <hr class="star-light">
                            <h3>Album</h3>
                            <div class="col-lg-8 col-lg-offset-2 text-center">
                                <a href="" id="play"class="btn btn-lg btn-outline">
                                    <i class="fa fa-play"></i>
                                </a>
                                <a href="" id="pause"class="btn btn-lg btn-outline">
                                    <i class="fa fa-pause"></i>
                                </a>
                                <a href="#" class="btn btn-lg btn-outline">
                                    <i class="fa fa-forward"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </section>
    <!-- Search -->
    <section id="search">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Search</h2>
                    <hr class="star-primary">
                        <form class="form" role="search">
                        <div class="form-group">
                            <input type="text" id="trackSearch" class="form-control" placeholder="Search">
                        </div>
                        <button type="button" class="btn btn-default" {{action 'trackSearch'}}>Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    
    <!-- Access Codes -->
    <section class="success" id="codes">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Access Codes</h2>
                    <hr class="star-light">
                    <p>Code to enter party:</p>
                    <h3>123ABC</h3>
                    <p>To grant others admin access to this party, give them the following code:</p>
                    <h3>ABC123</h3>
                </div>
            </div>
        </div>
    </section>
    
    <!-- Options -->
    <section id="options">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Options</h2>
                    <hr class="star-primary">
                </div>
            </div>
        </div>
    </section>
    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">
                        <h3>Location</h3>
                        <p>London, Ontario</p>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Around the Web</h3>
                        <ul class="list-inline">
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>About PartyShark</h3>
                        <p>PartyShark is a collaborative playlist app made by Nick Reid, Riley Bloomfield, and Casey Doyle for Hack The North</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; PartyShark 2015
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visible-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>
</body>