    <body class="index">
		<div ng-show="emptyPlaylist">
			<section>
				<div class="row" style="height:400px;overflow:auto;">
					<div class="container">
						<h3>Playlist is empty! Add songs to the playlist by selecting search from above</h3>
					</div>
				</div>
			</section>
		</div>
        <div class="container" ng-hide="emptyPlaylist" fetch-playlist>
           <body class="index">
    <section id="nowplaying">
            <div class="row" style="height:400px;overflow:auto;">

                            <div ng-repeat="playthrough in playlist | orderBy:'position':false">
                                <div class='well well-sm' ng-model="playthrough.position">
                                    <div class='media song'>
                                        <div class='media-left'>
                                             <img class='media-object' ng-src='{{playthrough.song.art}}' alt='No art' style="width: 96px;">
                                        </div>
                                        <div class='media-body'>
                                            <h4 class='media-heading'>{{playthrough.song.title}}</h4>
                                            <p>{{playthrough.song.artist}}</p>
                                            <p><i class="fa fa-thumbs-o-up fa-lg" id='upvotes'></i> {{playthrough.upvotes}}&nbsp;&nbsp;<i class="fa fa-thumbs-o-down fa-lg" id='downvotes'></i> {{playthrough.downvotes}}&nbsp;&nbsp;</p>
                                        </div>
                                        <div class="upvote">
                                            <button class="btn" ng-click="votePlaythrough(playthrough.code, 0);"><i class="fa fa-arrow-up fa-2x"></i></button>
                                        </div>
                                        <div class="downvote">
                                            <button class="btn" ng-click="votePlaythrough(playthrough.code, 1);"><i class="fa fa-arrow-down fa-2x"></i></button>
                                        </div>  
                                    </div>
                                </div>
                            </div>

                    </table>
                </div>
        </body>
    </section>
        </div>
</body>
