    <body class="index">
		<div ng-show="emptyPlaylist">
			<section>
				<div class="row" style="height:400px;overflow:auto;">
					<div class="container">
						<h3>Add songs to the playlist by selecting search from above</h3>
					</div>
				</div>
			</section>
		</div>
        <div class="container" ng-hide="emptyPlaylist">
           <body class="index">
    <section id="nowplaying">
            <div class="row" style="height:400px;overflow:auto;">
                    <table class="table table-condensed table-hover">
                        <tbody>
                            <tr>
                                <div class='well well-sm'>
                                    <div class='media song'>
                                        <div class='media-left'>
                                            <img class='media-object' src='img/msnewbooty.jpg' alt='' style="width: 96px;">
                                        </div>
                                        <div class='media-body'>
                                            <h4 class='media-heading'>Ms. New Booty feat. Ying Yang Twins And Mr. Collipark- Bubba Sparxxx</h4>
                                            <p>Ms. New Booty - Single</p>
                                            <p><i class="fa fa-thumbs-o-up fa-lg" id='upvotes'></i> 75&nbsp;&nbsp;<i class="fa fa-thumbs-o-down fa-lg" id='downvotes'></i> 25&nbsp;&nbsp;<i class="fa fa-heart fa-lg" id='score'></i> Score: 50</p>
                                        </div>
                                        <div class="upvote">
                                            <button class="btn"><i class="fa fa-arrow-up fa-2x"></i></button>
                                        </div>
                                        <div class="downvote">
                                            <button class="btn"><i class="fa fa-arrow-down fa-2x"></i></button>
                                        </div>  
                                    </div>
                                </div>
                            </tr>
                            <tr>
                                <div class='well well-sm'>
                                    <div class='media song'>
                                        <div class='media-left'>
                                            <img class='media-object' src='img/AllTheRightReasons.jpg' alt='' style="width: 96px;">
                                        </div>
                                        <div class='media-body'>
                                            <h4 class='media-heading'>Photograph - Nickelback</h4>
                                            <p>All The Right Reasons</p>
                                            <p><i class="fa fa-thumbs-o-up fa-lg" id='upvotes'></i> 50&nbsp;&nbsp;<i class="fa fa-thumbs-o-down fa-lg" id='downvotes'></i> 2&nbsp;&nbsp;<i class="fa fa-heart fa-lg" id='score'></i> Score: 48</p>
                                        </div>
                                        <div class="upvote">
                                            <button class="btn"><i class="fa fa-arrow-up fa-2x"></i></button>
                                        </div>
                                        <div class="downvote">
                                            <button class="btn"><i class="fa fa-arrow-down fa-2x"></i></button>
                                        </div>  
                                    </div>
                                </div>
                            </tr>
                            <tr>
                                <div class='well well-sm'>
                                    <div class='media song'>
                                        <div class='media-left'>
                                            <img class='media-object' src='img/purpose.png' alt='' style="width: 96px;">
                                        </div>
                                        <div class='media-body'>
                                            <h4 class='media-heading'>Sorry - Justin Beiber</h4>
                                            <p>Purpose</p>
                                            <p><i class="fa fa-thumbs-o-up fa-lg" id='upvotes'></i> 50&nbsp;&nbsp;<i class="fa fa-thumbs-o-down fa-lg" id='downvotes'></i> 10&nbsp;&nbsp;<i class="fa fa-heart fa-lg" id='score'></i> Score: 40</p>
                                        </div>
                                        <div class="upvote">
                                            <button class="btn"><i class="fa fa-arrow-up fa-2x"></i></button>
                                        </div>
                                        <div class="downvote">
                                            <button class="btn"><i class="fa fa-arrow-down fa-2x"></i></button>
                                        </div>  
                                    </div>
                                </div>
                            </tr>
                            <tr>
                                <div class='well well-sm'>
                                    <div class='media song'>
                                        <div class='media-left'>
                                            <img class='media-object' src='img/adele.png' alt='' style="width: 96px;">
                                        </div>
                                        <div class='media-body'>
                                            <h4 class='media-heading'>Hello - Adele</h4>
                                            <p>25</p>
                                            <p><i class="fa fa-thumbs-o-up fa-lg" id='upvotes'></i> 40&nbsp;&nbsp;<i class="fa fa-thumbs-o-down fa-lg" id='downvotes'></i> 1&nbsp;&nbsp;<i class="fa fa-heart fa-lg" id='score'></i> Score: 39</p>
                                        </div>
                                        <div class="upvote">
                                            <button class="btn"><i class="fa fa-arrow-up fa-2x"></i></button>
                                        </div>
                                        <div class="downvote">
                                            <button class="btn"><i class="fa fa-arrow-down fa-2x"></i></button>
                                        </div>  
                                    </div>
                                </div>
                            </tr>
                        </tbody>
                    </table>
                </div>
        </body>
    </section>
        </div>
</body>
