<body class = "index">
	<section id = "invisible_player">
		<div class = "container" id = "controls">
			<div id="slider_seek" class="progressbarplay" style="">
  				<div class="bar" style="width: 0%;"></div>
			</div>
			<button class="btn btn-lg" onclick = "DZ.player.play(); return false;"><i class="fa fa-play fa-2x"></i> Play</button>
			<button type="button" class="btn btn-lg" onclick = "DZ.player.pause(); return false;"><i class="fa fa-pause fa-2x"></i> Pause</button>
			<button class="btn btn-lg" onclick = "DZ.player.next(); return false;"><i class="fa fa-forward fa-2x"></i> Next</button>
		</div>
	</section>
</body>
